/* ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geom", sans-serif;
}

/* Edição da imagem atribuindo uma classe no html */
.logo-site {
    width: 100px;
    /* Define a largura desejada, por exemplo, 200 pixels */
    height: auto;
    /* Mantém a proporção original automaticamente */
    max-width: 100%;
    /* Garante que a imagem seja responsiva*/
}

body {
    background-color: #000;
    height: 100vh
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/*BOTÃO CONTATO  */
.btn-contato button {
    padding: 10px 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 500px;
    background-color: #7F00FF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}


/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.06);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #bd6bba;
    transform: scale(1.05);
}

/* ESTILO TOPO DO SITE */
section .topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 40px;
    line-height: 38px;
}

.topo-do-site h1 span {
    color: #7F00FF;
    font-size: 80px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .txt-topo-site span {
    color: #7F00FF;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    width: 400px;
    position: relative;
    animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }


}
